@{
    ViewData["Title"] = "Welcome Page1";
}

@{
    string name = (string)ViewData["name"];

<div class="text-center">
    <h1 class="display-4">Welcome @name </h1>
    <hr/>
    <p>Doing ordinary things extra ordinarily</p>
</div>}